@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-container {
  padding: 0 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.tabs {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.tab {
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    font-weight: 600;
    color: #008080;
    border-bottom: 2px solid #008080;
}
